### Assignment 1: Pivot Table and Groupby (Etsy)
Create a pivot table to show the average product price by seller name and tags. Then, use the groupby function to group the data by seller name and calculate the total views and favorites for each seller.

In [6]:
import pandas as pd

In [8]:
itsy = pd.read_csv("etsy.csv")
itsy.head()

,listing_id,detail_text,seller_name,tags,url,views,avg_review,product_price,favorites,posted,seller_reviews,product_title
0,298,"\n King and Queen shirts, King 01, ...",EpicTees4You,"Related to this item,Clothing,Unisex Adult Clo...",https://www.etsy.com/listing/224976011/king-an...,248365.0,4.6235,29.0,6146.0,"Listed on Nov 15, 2016",1344.0,"King and Queen shirts, King 01, Queen 01 Coupl..."
1,5248,\n Well hello there. This shirt cau...,wethouse,"Related to this item,Clothing,Unisex Adult Clo...",https://www.etsy.com/listing/167282687/rip-lou...,184947.0,4.7560,23.0,210.0,"Listed on Nov 2, 2016",1134.0,RIP Lou Reed Shirt // silver shirt
2,2737,"\n -MADE TO ORDER -,please allow 1 ...",TheArtSwallow,"Related to this item,Clothing,Unisex Adult Clo...",https://www.etsy.com/listing/199727284/sale-ti...,135820.0,4.7259,10.0,2931.0,"Listed on Nov 12, 2016",1112.0,SALE Tie Dye Pocket T Shirt- Choose your fabric!
3,378,\n I LOVE it when MY WIFE® Brand T-...,UnicornTees,"Related to this item,Clothing,Unisex Adult Clo...",https://www.etsy.com/listing/167509802/christm...,119570.0,4.8481,14.0,5064.0,"Listed on Nov 15, 2016",9765.0,Christmas Gift for Men Video Game Gifts Videog...
4,5085,"\n Cat shirt, funny tshirts, mens g...",RCTees,"Related to this item,Clothing,Men's Clothing,S...",https://www.etsy.com/listing/89209028/cat-shir...,118832.0,4.9612,24.0,18528.0,"Listed on Nov 15, 2016",4534.0,"Cat shirt, funny tshirts, mens graphic tee, me..."

In [7]:
pd.pivot_table(itsy, values="product_price", index=["seller_name","tags"])

                                                                      product_price
seller_name       tags
1024GaloreVintage Related to this item,Clothing,Unisex Adult Clot...           73.0
123emmashirts     Related to this item,Clothing,Unisex Adult Clot...           14.0
13SameOnly        Related to this item,Clothing,Unisex Adult Clot...           14.0
                  Related to this item,Clothing,Unisex Adult Clot...           14.0
                  Related to this item,Clothing,Unisex Adult Clot...           15.0
...                                                                             ...
zoeysattic        Related to this item,Clothing,Men's Clothing,Sh...           26.0
                  Related to this item,Clothing,Men's Clothing,Sh...           34.0
                  Related to this item,Clothing,Men's Clothing,Sh...           20.0
                  Related to this item,Clothing,Men's Clothing,Sh...           20.0
zulay09           Related to this item,Clothing,Men's Clothing,Sh...           16.0

[10206 rows x 1 columns]

In [13]:
itsy.groupby(["seller_name"])[["seller_reviews","favorites"]].sum()

                   seller_reviews  favorites
seller_name
1024GaloreVintage             7.0       27.0
123emmashirts                27.0       23.0
13SameOnly                  854.0     3500.0
1410Prints                  528.0      482.0
15rads                      451.0      312.0
...                           ...        ...
zappatee                    336.0      789.0
zbasement                  7073.0     4828.0
zerobriant                  342.0     1587.0
zoeysattic               272393.0    13207.0
zulay09                      85.0       55.0

[2686 rows x 2 columns]